.root {
}

.images {
    display: grid;
    grid-template-areas: 'main';
    margin-bottom: 0.65rem;
}

.imageContainer {
    grid-area: main;
}

.image {
    display: block;
    height: auto;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    width: 100%;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}

.name,
.price {
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0.5rem 0;
    min-height: 1rem;
}

/* state: pending */

.root_pending {
    composes: root;
}

.image_pending {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}

.images_pending {
    composes: images;
}

.name_pending {
    composes: name;
    background-color: rgb(var(--venia-global-color-gray));
}

.price_pending {
    composes: price;
    background-color: rgb(var(--venia-global-color-gray));
    width: 3rem;
}
.modal {
    font-size: 18px;
    border: 3px solid black;
    background: white;
    display: grid;
    gap: 0.9375rem;
    justify-items: stretch;
    padding: 1rem 1.5rem;
}
.modalHeader {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
.modalContent {
    width: 100%;
    margin-top: 30px;
}
.modalClose {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container{
    margin-top: 30px;
}
.btn {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
